# OS files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.*

# Supabase & dependencies
supabase/.temp/
.supabase-bin/
node_modules/
npm-debug.log*
